[2018-11-16 18:52] harshayburadkar opened #1 "Possible serious issue, please check"
The passing of tokens should be made mandatory in all API calls.
Currently, when I test out the app with multiple users, the refresh happens for the last user's token regardless of whichever user requests it.

This problem is going to happen with other APIs too since library acts on this.token which will have the value of the last logged in user.

[2018-11-23 22:43] Vaatyk opened #2 "Error : Response has an Error"
Hi I wanted to use your node.js version 8 script to connect to Quickbooks using Oauth2 and so far so good except whenever I create the realmID and the AcessToken I keep getting in my terminal (I'm on MAC so unix/bash terminal) **Error : Respons has an Error** From the json error object.

In details :

 Response {
        Url: [Object],
        rawHeaders: [Array],
        body: '{"warnings":null,"

[2018-11-23 22:46] Vaatyk commented on #2
I'm getting forbidden 403 errors but my login informations are good.

[2018-11-26 22:33] abisalehalliprasan commented on #2
@Vaatyk ,

Could you check if you are using the correct base url. Looks like using the OAuth-Client you are getting the tokens. And to make any API call, you are getting this error.

For **Sandbox** companies you need to use sandbox base url :
https://sandbox-quickbooks.api.intuit.com/v3/company/

For **Production** you need to use production base url : https://quickbooks.api.intuit.com/v3/company

[2018-11-26 22:33] #2 closed

[2018-11-27 14:31] Vaatyk commented on #2
Hi. Thank you for your reply, I checked my apiCall.php and callback.php and
changed the baseUrl in the DataService object with the sandbox link
you provided and I still get the same error.

It's making me go crazy haha.

On Mon, 26 Nov 2018 at 17:33, abisalehalliprasan <notifications@github.com>
wrote:

[2018-11-27 14:32] Vaatyk commented on #2
Oh I thought this was the php version sorry have a nice day

On Tue, 27 Nov 2018 at 09:31, Vaatik <vaattik@gmail.com> wrote:

[2018-11-27 19:34] abisalehalliprasan commented on #2
Not a problem. Have a good day !

[2018-11-27 19:38] abisalehalliprasan commented on #2
Not a problem . Happy coding !

[2018-11-30 23:54] abisalehalliprasan commented on #1
@harshayburadkar ,

The Client is designed in such a way that for every instance of the OAuth Library / SDK, there would be a `Token` object which would store the token information that is associated with the particular instace of library.

One of the benefits of this Token object is it would manage the lifetime of the tokens and could validate if the AccessToken is valid during `refresh`

I do un

[2018-12-03 19:48] #1 closed

[2018-12-10 01:28] skyarkitekten opened #3 "Unable to create tokens from access code"
I am using `intuit-oauth` package version 1.0.3 inside of a React application.

I am able to initiate the OAuth flow and receive the _code_ and the _realmId_ successfully on the callback route.

Then, I pass that URI into the client's `createToken` method to create the access and refresh tokens and receive the following errors:

* Refused to set unsafe header "User-Agent"
* Access to XMLHttpReques

[2018-12-10 13:04] rickygarg opened #4 "Strict mode keywords"
There is some occasional use of strict mode keywords, such as

var package = require('../package.json');

This makes it difficult to use in an ES6 project. Appreciate if you could modify or suggest a workaround.

[2018-12-10 21:58] skyarkitekten opened #5 "The sample does not work out-of-the-box"
There are a few issues with the provided sample code.

1. When a user clones the repo and goes follows the instructions for the **sample** README, the application refuses to start. This is because the sample code reference the local client code and not what is installed via NPM

2. When using NPM, the package.json references v1.0.2 of the client but the current codebase is v1.0.3.

3. The Get Comp

[2018-12-10 22:00] skyarkitekten commented on #3
This seems to be an issue with client flows using OAuth2 implicit grants. In the developer forums, it is said that Intuit only supports server-side access.

Can someone on the dev team confirm?

[2018-12-10 23:16] abisalehalliprasan commented on #3
Hi @skyarkitekten ,

We only support OAuth2.0 Authorization Flow at the moment which is supported only on the server side.

We are planning to support `OAuth2 implicit grant` in the near future.

[2018-12-11 13:15] skyarkitekten commented on #5
Thanks for the quick feedback @abisalehalliprasan, much appreciated!

[2018-12-11 13:17] skyarkitekten commented on #3
Thanks, @abisalehalliprasan.

I am glad to hear that implicit grant is on your roadmap. In the meantime, I will introduce a server into our solution.

[2018-12-11 22:26] skyarkitekten opened #6 "GetUser method does not work in sandbox"
When we attempt to get the user info with the `getUserInfo` method in the OAuthClient, we recieve an error. I believe that the call to the identity endpoint is not respecting the environment parameter and/or not getting the endpoint from the discovery document.

In the error message, the response says it is coming from `https://accounts.platform.intuit.com/v1/openid_connect/userinfo` but the docum

[2018-12-11 23:16] abisalehalliprasan commented on #6
@skyarkitekten ,

Thanks for pointing this out. Will add this to the next release and provide an update. Apologize for the inconvenience caused.

[2018-12-13 06:12] rickygarg opened #7 "Unable to use token when using constructor OAuthClient"
OAuthClient needs to be session specific. Hence, I've to initialize the OAuthClient again from its JSON saved in the session. However, that fails because the wrong param seems to be passed to the Token constructor:

[code]

Proposed solution: Change to:

[code]

[2018-12-13 08:11] abisalehalliprasan commented on #7
Hi @rickygarg :

The client offers helper methods named `getToken()` and `setToken()` using the `oauthClient` instance as shown [here](https://github.com/intuit/oauth-jsclient#getter--setter-for-token)

You can set the JSON saved in the session to the token using the above method. Let me know if this helps.

[2018-12-13 13:18] rickygarg commented on #7
Thanks, assuming that this is a workaround until a future commit?

The setToken() doesn't work that smooth because it doesn't seem to set the realmId. (Likewise, getToken also skips on 'id_token' - is that intentional?)

[2018-12-15 02:18] abisalehalliprasan commented on #7
@rickygarg :
realmId is passed to the redirectUri as a query parameter when you use OAuth2.0 Scopes and you would need to use id_token when using OpenID scope. ( This is the limitation of passing it directly to the client )

However, based on the valid use case you can optionally pass realmId and id_token using the setToken() [here](https://github.com/intuit/oauth-jsclient/pull/8)

[2018-12-15 02:19] abisalehalliprasan commented on #6
@skyarkitekten : This fix is provided in the new release [1.1.0](https://github.com/intuit/oauth-jsclient/tree/1.1.0) Thanks for pointing it out !

[2018-12-15 02:20] #3 closed

[2018-12-15 08:55] rickygarg commented on #7
@abisalehalliprasan thanks for including realm_id. However, in the createToken function:

The effect of this

`this.getToken().realmId = (params['realmId'] ? params['realmId'] : '');`

is now overriden a few lines afterwards by

`this.token.setToken(json);`

Also is there any reason that the following suggested change doesn't make sense:

`function OAuthClient(config) {

    this.token = new Token

[2018-12-17 19:29] #6 closed, assigned to nobody

[2018-12-17 19:34] abisalehalliprasan commented on #4
@rickygarg : Will consider getting changes included to the ES6 module in the next releases.

[2018-12-17 21:20] ZachJames opened #9 "realmId field is blank on auth response in new version"
Hi,
I recently updated from version 1.0.2 to 1.1.0 and the response received to my callback has a blank token.realmId property, which is just an empty string. I am using createToken().

Tested on 1.0.2 with same logic and it's populated. Please advise.

Thanks

[2018-12-17 23:45] abisalehalliprasan commented on #9
@ZachJames : I had incorporated some changes in version `1.1.0` which resulted in the blank `realmId` on the token object.

Could you please try using version `1.1.1` and let us know if its working as expected ?

[2018-12-18 01:01] ZachJames commented on #9
Yes, I can now see the realmId. It's fixed.

Thanks for the quick update!

[2018-12-18 22:04] #9 closed

[2018-12-26 06:10] rickygarg commented on #7
The last commit with version 1.1.1 resolves this. Thanks.

[2018-12-26 06:10] #7 closed

[2018-12-27 18:39] jwang01 opened #11 "typo '/getCompanyInfo' in app.js"
var url = oauthClient.environment == 'sandbox' ? oauthClient.environment.sandbox : oauthClient.environment.production ;

oauthClient should be OAuthClient

var url = oauthClient.environment == 'sandbox' ? OAuthClient.environment.sandbox : OAuthClient.environment.production ;

Apparently, code didn't get tested.

[2019-01-13 05:51] walexnelson commented on #7
I may have just misunderstood this comment and the example in the README, but I just spent a good chunk of time trying to figure out why `client.isAccessTokenValid()` was returning true even after I knew the access token had expired. I was setting the token via `client.getToken().setToken(json)`.

Turns out `client.getToken().setToken()` converts seconds into a timestamp - so if you're providing t

[2019-01-18 01:31] stephen-vetbadger opened #13 "Console logging of tokens seems like a bad idea"
Using console.log() is great for debugging but not appropriate for production code. I've put up a PR: https://github.com/intuit/oauth-jsclient/pull/12

[2019-01-18 18:15] crussell42 commented on #11
Agreed. I ran into the same issue.

[2019-01-18 20:17] abisalehalliprasan commented on #11
Thanks @jwang01  and @crussell42 . A new release is on its way, this should fix it!

[2019-01-18 20:19] abisalehalliprasan commented on #13
Apprecite the [PR#12](https://github.com/intuit/oauth-jsclient/pull/12). Will include this for the next release.

[2019-01-24 08:29] harshayburadkar opened #14 "Open ID connect support"
Since library claims to support Open ID connect, I was trying to find a method to decode id token but could not find one.

Also, other operations related to id token should be provided, otherwise we will have to end up using two different OAuth2 libraries due to this missing support which probably defeats the purpose of using this library since another library can do all of those functions. I foun

[2019-01-24 08:30] harshayburadkar commented on #14
Is it possible to provide at least the id token decode support soon?

[2019-02-08 20:40] abisalehalliprasan commented on #14
@harshayburadkar : The helper method to [validateIdToken](https://github.com/intuit/oauth-jsclient/blob/master/src/OAuthClient.js#L515) as per our standard definition is meant to validate if the IDToken is valid.
Ref : API Reference for [validatingIDToken](https://developer.intuit.com/app/developer/qbo/docs/develop/authentication-and-authorization/openid-connect#step-6-validate-id-token)

Could yo

[2019-02-11 05:29] harshayburadkar commented on #14
I was looking for username and/or his email.
I checked the developer documentation again. Apparently, Intuit auth team does not give provide this information in the idToken. If it did it helps to avoid another call to userinfo endpoint to display the username after login.
I believed it was a common way and was assuming this information is encoded in the payload of idToken. Since it is not the case

[2019-02-11 05:29] #14 closed

[2019-02-11 23:32] abisalehalliprasan commented on #7
@walexnelson : That's a good point to mention. I will revise the README.md and update it. Thank you for your time and patience.

[2019-02-12 00:20] abisalehalliprasan commented on #13
Fixed with new release [1.1.2](https://github.com/intuit/oauth-jsclient/releases/tag/1.1.2)

[2019-02-12 00:20] #13 closed

[2019-02-12 00:21] abisalehalliprasan commented on #11
Fixed with new release [1.1.2](https://github.com/intuit/oauth-jsclient/releases/tag/1.1.2)

[2019-02-12 16:37] #11 closed

[2019-03-01 16:28] knajem opened #15 "Refresh Token"
I have everything working and the library seems to work well.  I am/was having issues with refreshing/revoking based off of refresh token.

I kept getting invalid refresh token. I am just testing the refresh function so this is right after I created the token.

I traced it back to this check in token js.

/**
 * Check if there is a valid (not expired) access token
 * @return {boolean}
 */
Token.pr

[2019-03-01 17:47] abisalehalliprasan commented on #15
Hi @knajem : I just tried to reproduce the issue and I don't see any issue with refreshing the `tokens` using the [refresh()](https://github.com/intuit/oauth-jsclient/blob/master/src/OAuthClient.js#L186).

[isRefreshTokenValid](https://github.com/intuit/oauth-jsclient/blob/master/src/access-token/Token.js#L120) is important as it checks for the validity of the refreshTokens.

However, below is a s

[2019-03-01 18:34] knajem commented on #15
Thank you for your quick response @abisalehalliprasan . After adding more console logs this is where I believe my issuers are because of this

**authResponse.token**(_I only copied over the expires stuff for better legibility_)
  token:
   Token {
     expires_in: 1551468150078,
     x_refresh_token_expires_in: 1560190950078,
     latency: 60000
},

**authResponse.json**(_I only copied over the ex

[2019-03-01 18:48] abisalehalliprasan commented on #15
Spot on @knajem . Library converst the `expires_in` into a current date `timestamp` for some of its helper methods. One such method is the [isRefreshTokenValid()](https://github.com/intuit/oauth-jsclient/blob/master/src/access-token/Token.js#L120).

Welcome any PR's or suggestions. Cheers !

[2019-03-04 19:56] #15 closed

[2019-03-08 16:56] jt274 opened #16 "Error revoking token, this.token.refreshToken is not a function"
I've already retrieved tokens and am able to successfully communicate with the API using them. The tokens are stored in a database. I am unable to call the revoke function to revoke the tokens though, as I get the following error: **TypeError: this.token.refreshToken is not a function**

The tokens are retrieved from the database and the token revoke code is:

oauthClient.revoke()
          .then(

[2019-03-08 21:52] abisalehalliprasan commented on #16
@jt274 : I tried all the three options and the `revoke` works perfectly fine :
`oauthClient.revoke({refresh_token})`
`oauthClient.revoke(refresh_token)`
`oauthClient.revoke({"token": refresh_token})`

FYI : Passing the parameters to this function is optiona as you are already setting the token instance above.

Also, setting the token looks incorrect with what you are doing. Please refer to : [READ

[2019-03-08 22:42] jt274 commented on #16
I've read that a few times, but when I do this:

var oauthClient = new OAuthClient({
  clientId: API_KEY,
  clientSecret: API_SECRET,
  environment: ENVIRONMENT,
  redirectUri: REDIRECT_URI,
});

//Other code doing things

oauthClient.token = new Token(authToken);

I get **ReferenceError: Token is not defined**

[2019-03-08 23:45] abisalehalliprasan commented on #16
@jt274 : I agree with you. We could perhaps expose a helper method to `setToken` using the `oauthClien`t instance.

I have implemented this change and will be testing some new changes that are going into the library. Please expect a release by Monday or Tuesday at the earliest.

Apologize for the inconvenience caused.

[2019-03-09 00:42] jt274 commented on #16
Thanks. Just wanted to make sure I wasn't missing something.

[2019-03-12 20:15] abisalehalliprasan commented on #16
@jt274 : Issue has been fixed in the new release [1.1.3](https://github.com/intuit/oauth-jsclient/releases/tag/1.1.3)

[2019-03-12 21:33] jt274 commented on #16
@abisalehalliprasan I am getting the same error. Perhaps you could walk me through the correct way to revoke the token when the token information is stored in a database? This is what I currently have, gives ReferenceError: Token is not defined, v1.1.3.

const OAuthClient = require('intuit-oauth');

var oauthClient = new OAuthClient({
  clientId: API_KEY,
  clientSecret: API_SECRET,
  environment:

[2019-03-13 04:36] jt274 commented on #16
Was able to get it working with 1.1.3 using `oauthClient.setToken(authToken);`

It appears though that it tries to first check if the refresh token is valid (not expired), and if it is expired it throws an error. Why should that matter? It doesn't seem right to have to refresh the token before revoking it if it's expired.

Line 640 OAuthClient.js:

`if(!this.token.isRefreshTokenValid()) throw new

[2019-03-13 07:48] abisalehalliprasan commented on #16
@jt274
I completely agree with the statement :
`It doesn't seem right to have to refresh the token before revoking it if it's expired.`

However, if the refresh Token is expired and if you do pass the same `refresh Token(expired)` or `access Token(expired)` to revoke your tokens, the API would return a :

400 Bad Request

So, the revoke() method does a validation to check if atleast the refresh To

[2019-03-13 13:55] jt274 commented on #16
@abisalehalliprasan Understood. If the refresh token is expired, does it need to be revoked? The company is essentially already disconnected. I suppose that's something that could be handled by an app.

[2019-03-13 17:27] abisalehalliprasan commented on #16
@jt274 : Expired tokens are already revoked from `Intuit`. Your app would need to handle that based on the activity and lifetime of the company ( as in the token ).

I am working on a next release which includes `events`. The SDK would emit events which app can listen to track the progress of the tokens during its entirety. Next release would have it.

[2019-03-14 04:49] jt274 commented on #16
Sounds great, thanks!

[2019-03-14 04:49] #16 closed

[2019-03-30 14:52] ZackKnopp opened #17 "setToken not working as expected"
Nevermind. Mixed up oAuthClient.setToken and token.setToken

[2019-03-30 15:27] #17 closed

[2019-04-12 13:20] belo32 opened #18 "Revoking a revoked token returns generic error message"
The is the error I get back when I revoke an already revoked token.  It would be great if it gave a error to indicate the token has already been revoked.  Would be easier to handle that error.

Error: Response has an Error
    at OAuthClient.<anonymous> (/Users/bilal/workspace/mydoma-studio-api/node_modules/intuit-oauth/src/OAuthClient.js:621:42)
    at <anonymous>
    at process._tickDomainCallba

[2019-04-12 13:21] belo32 commented on #18
This is the response for revoking an already revoked error message.  Would be great if it mentioned that the token was already revoked.

Error: Response has an Error
    at OAuthClient.<anonymous> (/Users/bilal/workspace/mydoma-studio-api/node_modules/intuit-oauth/src/OAuthClient.js:621:42)
    at <anonymous>
    at process._tickDomainCallback (internal/process/next_tick.js:229:7)

[2019-04-12 13:44] belo32 commented on #18
It's missing the error code in the response.

[2019-04-15 17:39] abisalehalliprasan commented on #18
@belo32 : Is the token being `revoked` outside the scope of this client (is the token revoked outside your app ? )  If you are using this node client to revoke, the response should look like :

[code]
For posterity, the client should be able to handle the error responses irrespectively.  Will handle this as part of the next release. Thanks.

[2019-04-15 17:56] belo32 commented on #18
Thank you,  the token was revoked during the scope of the client.  It's just the code did not handle the updating the state properly at the time and the response we were getting back from the OauthClient was not clear.

[2019-04-16 12:01] ruchikam opened #19 "Error in revoke token :- Error: Response has an Error"
I had got an instance of oauthclient after connection using
  oauthClient = new OAuthClient({
                  clientId: quickbook_token.clientId,
                  clientSecret: quickbook_token.clientSecret,
                  environment: quickbook_token.environment,
                  redirectUri: quickbook_token.redirectUri,
                  token:quickbook_token.token
              });

and c

[2019-04-16 20:30] abisalehalliprasan commented on #19
@ruchikam :

Just pass the `tokenJson` object as shown below :
[code]
Refer to the README under [Revoke Tokens](https://github.com/intuit/oauth-jsclient#revoke-access_token) if you have any doubts.

[2019-04-17 05:48] ruchikam commented on #19
I had passed the json token but got error: cannot read property revoke of null

oauthClient.revoke(tokenJSON)
.then(function(authResponse) {
console.log('Tokens revoked : ' + JSON.stringify(authResponse.json()));
})
.catch(function(e) {
console.error("The error message is :"+e.originalMessage);
console.error(e.intuit_tid);
handleResponse.handleError(res, e, ' Error in revoking token'+e);
});

oaut

[2019-04-17 06:46] ruchikam commented on #19
When I logged the error I get the following response:

2019-04-17T06:44:50.773Z error: Refresh Token () threw an exception : {
  "authResponse": {
    "token": {
      "realmId": "123146326718089",
      "token_type": "bearer",
      "access_token": "eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..AEJkzSttdjmusGqJuQK9GA.ixGrn2VPldDuNog_ekOxrTNme_g5aej1kS_7a95RCqNO70YrxqkkVSSGLZ7E--6rmxQx3knFeQKHL

[2019-04-17 06:56] ruchikam commented on #19
I just want to know how to get oauthClient instance once we had connected

[2019-04-17 16:28] abisalehalliprasan commented on #19
Please do not disclose token information on public forums. I have masked the above information for now.

If you have declared oauthClient as a `Global Variable` you should be able to use it inside any scope within your program. Could you please paste the entire code ( _please mask any sensitive data_ )so that we could know why oauthClient instace is recognized as `undefined` ?

You can also email

[2019-04-24 16:34] ryan-sandy opened #21 "Timestamps are not computed in the constructor. Validation checks fail."
As referenced in [issue 7](https://github.com/intuit/oauth-jsclient/issues/7), the timestamps are incorrectly computed if you use the `setToken()` method versus the constructor.

The constructor treats the expiry information as a timestamp versus `setToken()` which computes a timestamp off of `Date.now()`.

This causes the validation checks to behave differently depending on how you created the to

[2019-04-24 18:36] abisalehalliprasan commented on #21
Thanks, @ryan-sandy for the PR - [#21](https://github.com/intuit/oauth-jsclient/pull/20). I did get a chance to look at the files you have changed. They look good.

Just need to test the changes once before merging the PR. Will provide an update soon here.

Thanks for your time and effort!

[2019-04-25 18:19] abisalehalliprasan commented on #18
Fixed with Release [1.2.0](https://github.com/intuit/oauth-jsclient/releases/tag/1.2.0)

[2019-04-25 18:19] #18 closed

[2019-04-25 18:20] abisalehalliprasan commented on #21
Merged #20

[2019-04-25 18:20] #21 closed

[2019-05-03 12:10] kyleabens opened #22 "isAccessTokenValid() is always false"
I’m confused as to how isAccessTokenValid() works.  I currently save the access_token to my user in my database when they first connect their quickbooks account.  So how would any subsequent api calls know what the access token is and if it’s valid?  Should I be passing the access token explicitly somewhere to see if it’s valid?  Thanks for the help!

<sub>Sent with <a href="http://githawk.com">Gi

[2019-05-03 16:32] abisalehalliprasan commented on #22
@kyleabens :
Before making any API calls, just call the helper method `isAccessTokenValid()` as shown below :
https://github.com/intuit/oauth-jsclient#is-accesstoken-valid

This issue #21 was fixed with PR #20. Please use the latest version of the package ~ [1.2.0](https://github.com/intuit/oauth-jsclient/tree/1.2.0)

Since this library is not a fully blown SDK, you might need to call the above he

[2019-05-03 16:47] kyleabens commented on #22
@abisalehalliprasan should I set the token first `oauthClient.setToken(token);`?  How would isAccessTokenValid() know what the token is in the first place and if it's valid or not?

[2019-05-03 17:43] abisalehalliprasan commented on #22
@kyleabens :

If you are using this client to Authenticate?
for ex: as shown [here](https://github.com/intuit/oauth-jsclient#step-2) , then you need not worry about setting the tokens. The OAuth Client does it for you.

However, if you are setting the tokens explicitly just refer to :
[Set Tokens](https://github.com/intuit/oauth-jsclient#set-the-token-)

So for your app, you could have this proces

[2019-05-03 17:45] kyleabens commented on #22
@abisalehalliprasan Okay thanks.  I figured out that my problem was not passing a createdAt timestamp with my token so the token was always valid.  Once I added that then it started working and refreshing when needed.

[2019-05-03 20:38] #22 closed

[2019-05-10 06:10] vikas-ss opened #23 "Support for POST Request create/update"
Is there any support for making POST request create/update entity? Intuit-outh module provides makeAPICall method which can be used to get employee, customer list from Intuit account, method "GET" is hardcoded in that, there is no way we can pass method into this.

Are you planning to provide POST create/update?

[2019-05-10 21:43] abisalehalliprasan commented on #23
@vikas-ss : We are working on releasing an Official SDK to support NodeJS developers soon. But in the meantime you can use the community supported SDK to make API calls :

[Community Supported Node SDK](https://github.com/mcohen01/node-quickbooks)

You can find the community supported OAuth2Example [here](https://github.com/mcohen01/node-quickbooks/tree/master/oauth2example)

[2019-05-11 06:46] vikas-ss commented on #23
Okay Thanks. Yeah I had seen community supported SDK already.

[2019-05-11 06:46] #23 closed

[2019-05-25 21:44] cyberwombat commented on #5
So sample still does not work - the callback action has no reference to oauthClient. I am unable to get my code to run nor can I get the sample to work even when I fix this so Id love to see an actual piece of working code.

[2019-05-29 03:48] abisalehalliprasan commented on #5
@cyberwombat :  You might have got confused with the callback URI. Just follow the instructions listed on the sample [README.md](https://github.com/intuit/oauth-jsclient/tree/master/sample) and you should be able to authenticate using this library.

If you are seeing a different error, please provide the screenshot and we can look into it.

[2019-05-29 20:04] #19 closed

[2019-05-30 20:21] cyberwombat commented on #5
@abisalehalliprasan - my bad - I was looking at this from my need which is stateless hence my issue with empty oauthClient.

[2019-05-31 17:44] #5 closed

[2019-06-26 22:31] appeality opened #24 "Error: The Refresh token is missing at OAuthClient.validateToken"
I have followed the README (https://github.com/intuit/oauth-jsclient#revoke-access_token) and tried multiple permutations, but I keep receiving the error below:

`2019-06-26T22:15:28.768Z	e82358eb-f950-400e-af7e-f059d3fbf938	Error: The Refresh token is missing
at OAuthClient.validateToken (/var/task/node_modules/intuit-oauth/src/OAuthClient.js:641:42)
at OAuthClient.<anonymous> (/var/task/node_mod

[2019-06-26 22:59] appeality commented on #24
I was able to figure this out. It seems that you cannot revoke an access token by passing in the token explicitly. This seems to be contrary to the README documentation https://github.com/intuit/oauth-jsclient#revoke-access_token.

This does not follow the same pattern as refreshing tokens. I can indeed pass in a refresh token to refresh the access token.

Also, looking at the source, it seems the

[2019-06-26 23:31] abisalehalliprasan commented on #24
@appeality : Your right. Thanks for opening a Bug.  I am doing validation on the refresh_token that is being passed here: [validateToken()](https://github.com/intuit/oauth-jsclient/blob/master/src/OAuthClient.js#L297)

This check might be redundant if the token (access_token / refresh_token) is passed explicitly or implicitly from the client. However, per the README, you can still pass the tokens

[2019-06-29 18:37] YasharF opened #25 "PassportJS"
Would you be able to provide some guidance on integration with PassportJS?

[2019-07-04 02:14] anilkumarbp commented on #25
@YasharF : I have not used [PassportJS](http://www.passportjs.org/) in the past. But going through their documentation, it seems like a middleware which is used to authenticate requests in node applications. Our [client](https://github.com/intuit/oauth-jsclient) is just doing that.

I am not sure why you would want to integrate with `PassportJS`. Help me fill in on this and we could take a look at

[2019-07-05 20:00] YasharF commented on #25
Using your middleware is a one-off implementation.  PassportJS is a more standardized way.  Many people would not use one-off solutions, especially if there is a need to integrate with multiple services.

Anyway, I ended up doing the integration of intuit/QuickBooks with PassportJS using the generic OAuth 2.0 plugin for passport js: https://github.com/sahat/hackathon-starter/commit/285b6b170d02932

[2019-07-09 00:32] abisalehalliprasan commented on #24
@appeality : The validation has been fixed.
You can refer to the latest release [1.3.0](https://github.com/intuit/oauth-jsclient#revoke-access_token) and the update README.md [here](https://github.com/intuit/oauth-jsclient#revoke-access_token) Thank you for your patience.

[2019-07-09 23:31] abisalehalliprasan commented on #25
Looking at the starter code you have provided [here](https://github.com/sahat/hackathon-starter/commit/285b6b170d029322b0b000f056c2ce9331728398) seems like exchanging the `authCode` for access/refresh tokens is not handled or may be I have missed something ?!

But this is a great value addition to developers who are integrating multiple services. I will send in a PR once I get past this. Thanks @Y

[2019-07-10 01:48] YasharF commented on #25
You are correct, handling the refresh token is an issue with pretty much all of the oAuth providers that hackathon-starter has integration with, and we are working on fixing it:
https://github.com/sahat/hackathon-starter/issues/977
https://github.com/sahat/hackathon-starter/pull/976

[2019-07-10 23:44] abisalehalliprasan commented on #25
Alrighty. Good Stuff @YasharF

The excited me wanted to try out the `QuickBooks` implementation in your sample. However, I did not see an option to SignIn with QuickBooks when I visit the page http://localhost:8080/login after deploying `app.js`

Also, do I need to be logged into the website to invoke Sign in with QuickBooks?
https://cdn1.imggmi.com/uploads/2019/7/11/f5782c9769d74a08d37ca5e74cd75c

[2019-07-15 14:39] matbalazsi opened #28 "isAccessTokenValid() is true after calling revoke()"
If I understand correctly, I would expect that isAccessTokenValid() to return false after calling revoke(). Here is my simplified test:

_From an authorized state:_

`let initialState = oauthClient.isAccessTokenValid()`

**yields initialState = true**

`let response  = await  oauthClient.revoke();`

`let finalState = oauthClient.isAccessTokenValid()`

**yields finalState = true, expected false**

[2019-07-17 23:50] abisalehalliprasan commented on #28
Clearing the token information has not been handled with the previous release. Will be fixing that in the new release. Thanks @matbalazsi.

[2019-07-18 00:11] #24 closed

[2019-07-18 00:11] #25 closed

[2019-07-19 23:51] abisalehalliprasan commented on #28
@matbalazsi : This is handled in the new release [1.4.0](https://github.com/intuit/oauth-jsclient/tree/1.4.0)

[2019-07-19 23:51] #28 closed

[2019-07-20 12:23] matbalazsi commented on #28
Thanks!

[2019-07-23 22:35] adam-t-b commented on #4
@abisalehalliprasan Any work arounds for this? Or any update on when this might get picked up for work?

[2019-07-24 02:57] abisalehalliprasan commented on #4
@adam-t-b : Are you minifying the package in your app? We could probably rename the package to version as shown below :
`var version = require('../package.json')`

would that work?

[2019-08-05 23:34] kjagtiani09 opened #30 "csrf update to OAuthClient"
var csrf = new Tokens() needs to be moved inside the constructor on OAuthClient

[2019-08-23 23:20] #4 closed

[2019-08-23 23:20] #30 closed

[2019-08-23 23:21] abisalehalliprasan opened #32 "Fix ESLint Issues"
Fix the ES Lint Issues :
https://github.com/intuit/oauth-jsclient/blob/master/package.json#L7

[2019-09-09 17:26] desaias commented on #23
@abisalehalliprasan Is there any ETA for the official SDK?

[2019-09-30 20:40] abisalehalliprasan opened #33 "Extend the library to support TypeScript"
Goal :
To be able to support  `typescript` community

Ref :
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/gapi.client.oauth2
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/simple-oauth2

[2019-09-30 20:49] abisalehalliprasan opened #34 "client support for autoRefresh on the access token"
Goal :
The client should handle refreshing the access tokens before the expiry ( once every hour ). This feature should be `optional` and should be able to available during the time of instantiation of oAuthClient as shown below
[code]

[2019-09-30 20:50] qjd2413 commented on #33
seems interesting; could you assign this to me?

[2019-09-30 20:54] spencerwi commented on #33
I think I can take a crack at it.

There are two ways to handle Typescript support:

1. Include declaration file(s) in your own repo, and point the `types` property of `package.json` at the "root" type declaration file (or just name it `index.d.ts`). This makes everything "just work" out of the box for devs using Typescript, as the Typescript compiler will know where to find the type definition fi

[2019-09-30 20:54] abisalehalliprasan commented on #33
@qjd2413 : Awesome. Just did that 👨‍💻. Appreciate that @qjd2413

[2019-09-30 20:54] spencerwi commented on #33
Oh, shoot, I'm just a tiny bit late. womp womp, I'll find another issue.

[2019-09-30 21:42] abisalehalliprasan commented on #33
@spencerwi: There might be more. I will keep you posted. Thank you.

[2019-09-30 22:27] sthang commented on #34
I would like to be assigned to this issue for hacktoberfest.

[2019-10-01 15:40] mcrosby114 commented on #32
It looks like there are 197 problems across all your files. How would you like to fix these lint errors? I could put `eslint-disable` in each file, and that would suppress the warnings. Or would you prefer all the code itself be changed to work with eslint?

[code]

[2019-10-01 21:41] abisalehalliprasan commented on #32
@mcrosby114 ,

I have looked at the warnings and errors. However, I am not confident if it would be `backward-compatible` once we change all the code to work with ESLint.

Any thoughts ?

[2019-10-02 19:18] hallzac2 commented on #32
I'm willing to help work on this. The no-undef rules for functions like `describe` and `it` are fairly easy to solve without breaking any compatibility.

[2019-10-02 19:31] mcrosby114 commented on #32
@hallzac2 yeah that's true. And I think for some of these like camelcase and underscores we could put some `eslint-disable` around them, wherever it would break backwards compatibility. Want to split up work on this, like tackle the no-undef errors, and I could tackle the formatting related ones?

[2019-10-02 19:32] hallzac2 commented on #32
Yeah that sounds good to me! I've got https://github.com/intuit/oauth-jsclient/pull/35 out now to address the no-undef errors. Let me know if I can help on any of the other pieces!

[2019-10-02 19:34] abisalehalliprasan commented on #32
Awesome. @hallzac2  and @mcrosby114 Do you guys need another New Issue created for this or we good to work on the same issue?

[2019-10-02 19:38] mcrosby114 commented on #32
Same one works for me, thanks!

[2019-10-07 19:25] abisalehalliprasan opened #39 "Improve code coverage"
Goal :
To improve the test coverage.

Ref :
Steps to test the coverage locally:  https://github.com/intuit/oauth-jsclient#steps

[2019-10-07 19:41] brycejech opened #40 "Does this library support any HTTP methods for API calls other than GET?"
Reading through the client code, it doesn't appear as though any of the other HTTP methods such as PUT, POST, or DELETE are supported. Unless I'm reading something wrong it looks like this only supports the token handling and GET requests for API calls.

If that is the case are there any plans to support other HTTP methods with body contents or am I better off using a third-party lib or rolling so

[2019-10-07 21:44] abisalehalliprasan commented on #40
@brycejech : The `oauth-jsclient` was initially created for token generation purposes and rightfully so we did not support other HTTP methods. The GET method was used to make sure the access/refresh token works with the `CompanyInfo` endpoint.

But I hear your point. The fix should be easy. Let me provide support for PUT,POST,DELETE for now. However kindly be advised that it would not be a full-bl

[2019-10-07 23:24] brycejech commented on #40
Awesome, thanks!!

I see you guys have some issues tagged Hacktoberfest already. Mind if I take a stab at this one and send you a PR instead?
On Oct 7, 2019, 4:45 PM -0500, abisalehalliprasan <notifications@github.com>, wrote:

[2019-10-07 23:32] abisalehalliprasan commented on #40
@brycejech : Sure. Go for it. I'd assign you on this one. Kindly send a PR to the `develop` branch.

[2019-10-08 15:38] edgarsherman commented on #39
I'd be happy to take a look at this for Hacktoberfest

[2019-10-09 01:11] BrandonCopley opened #41 "ngrok current version doesn't work"
Ngrok is currently tied to version ^2.2.9 but it really should be 3.2.3 Currently version 2.2.9 does NOT work and the error: **Error: ngrok is not yet ready to start tunnels** is displayed

[2019-10-09 11:54] petmat commented on #41
I'll fix this!

[2019-10-09 11:55] BrandonCopley commented on #41
It may need an api example update as well since ngrok uses promises now.

On Wed, Oct 9, 2019 at 6:54 AM Matti Petrelius <notifications@github.com>
wrote:

--
--
[image: Giftnix]

Brandon Copley

Founder & CEO

t: 512.784.6060 <(512)%20784-6060>

e: copley.brandon@gmail.com

[2019-10-09 19:12] abisalehalliprasan commented on #41
@petmat : Thanks for the PR #45 . Did you get a chance to test the sample app with the new ngrok version?

[2019-10-10 19:23] edgarsherman commented on #39
@abisalehalliprasan I added a PR for one file and am working on OAuthClient.js.   I started at the bottom working my way up and came across `createError`.   This function seems odd and I'm not sure of the correct behavior.

[code]

In the first IF block, we check if AuthResponse is null (empty, undefined) but then start to use functions properties of it.
Also, e.error is redefined.
I'd be happy to

[2019-10-10 21:47] abisalehalliprasan commented on #39
@edgarsherman : Looks good 👍

[2019-10-11 06:02] mandardeshpande commented on #39
@abisalehalliprasan : is there still work on this left ? If so i can take it..

[2019-10-11 18:58] abisalehalliprasan commented on #39
@mandardeshpande :  You can split work if there are any files that @edgarsherman has not completed/worked on.

Since this is an Open Source Contribution, you should be free to submit a PR.

[2019-10-13 20:08] petmat commented on #41
It turned out that I tested it but not properly. Connecting to Ngrok worked but it was not handled properly since the 3.2.5 version uses promises instead of callbacks. I changed the handling of the connect call to promises and it prints out the correct info in the terminal. I also tested the whole sample app and managed to send a request to the API and get a response back.

[2019-10-14 01:52] abisalehalliprasan commented on #41
Thanks @petmat

[2019-10-14 01:52] #41 closed

[2019-10-15 08:01] vibu267 commented on #34
@sthang Are you working on this? I would like to pick it up if you are not.

[2019-10-15 17:49] sthang commented on #34
@vibu267 I'm working on this. Thanks for asking.

[2019-10-18 01:41] #40 closed

[2019-10-18 01:42] #32 closed

[2019-10-20 18:11] ch3rr17 commented on #34
@abisalehalliprasan I would like to look into this too as well.

[2019-11-21 15:39] jlc467 opened #61 "Why does sample use global instance of OAuthClient?"
All of the sample code seems to revolve around a single company integration. Who is building integrations for a single company? Far more common is an integration designed to work with multiple companies. This was brought up here: https://github.com/intuit/oauth-jsclient/issues/1

Not sure why the sample code / documentation is built for a very uncommon use case.

[2019-11-22 02:37] 29er opened #62 "Can I use this library in a 'Lambda' function with no human interaction ?"
Hi,
I thought I could use this lib to handle quickbooks oauth that did not have any hman interaction as far as refreshing tokens etc. But I have tried for two days to get this to work and seem to always get these errors. 'The Refresh token is invalid, please Authorize again.'. and I am stuck on what to do.
Am i using the wrong library to accomplish this ? any suggestions ?
Thanks!

[2019-11-22 18:14] 29er commented on #62
I guess what Im looking for is some example code that will take an existing token ( from my db ), validate it, or refresh if needed, and make an api call.
after the api call should I save the token back to db ? which I will then use for the next call ?
will the refresh token always work even if my lambda doesn't run for over an hour etc.
Thanks for any insight .

[2019-11-22 19:05] hlu2 commented on #62
@29er  "after the api call should I save the token back to db ? which I will then use for the next call ?" That is correct. Remember to save the refresh token to your db and access token to you session.
"will the refresh token always work even if my lambda doesn't run for over an hour etc." If you continue using the app, then the refresh token is changed every 24 hours. We have an FAQ section for

[2019-11-22 19:05] #62 closed

[2019-11-27 03:49] 29er commented on #33
im kinda surprised you dont have these yet. anything on the horizon ?

[2019-11-28 13:21] jamesmogg opened #63 "Mistake in code example"
There is a mistake in the code example for refreshing an access token.
line 3 reads

`console.log('Tokens refreshed : ' + JSON.stringify(authResponse.json()))`

it should be

`console.log('Tokens refreshed : ' + JSON.stringify(authResponse.getJson()))`

The original code throws an error, which isn't immediately apparent as the error handling is looking for errors from the intuit api, and not from

[2019-12-16 17:05] brunocascio commented on #34
Any progress here? I'm facing an issue with `refresh()` method (error invalid_grant)

[2019-12-17 02:59] abisalehalliprasan commented on #34
@brunocascio : This issue was created as an enhancement request. The PR is yet to be tested.

However, if your concern is just regarding the error `invalid_grant` Could you provide the intuit-tid from response headers when the refresh() call is made ?

There could be many reasons :

- Access/Refresh token might be expired, corrupted
- User is no longer an admin etc

If you want to contact our supp

[2019-12-31 00:10] MotorCityCobra opened #64 "I've been trying all day and can't figure out how the API gets authorized"
@kyleabens :

said...
So for your app, you could have this process :
`setToken(authToken) -> isAccessTokenValid() -> MakeAPICall()`

It's not clear if this is for a user to authorize an app. I don't need that. I need to make an API call. It's not clear from the main page how I get the token to send to and receive from the API.

[2020-01-02 02:38] MotorCityCobra opened #65 "In the sample app, after authorization, literally everything else is an error"
All inexplicable errors. Are these errors under the hood in the npm package?
Click any button other than connect and look at these mystery errors.

020-01-02T02:27:44.956025+00:00 heroku[router]: at=info method=GET path="/callback" host=singsong11.herokuapp.com request_id=ebab844b-8703-47ba-a45b-22103963fcae fwd="65.60.197.111" dyno=web.1 connect=1ms service=3ms status=304 bytes=149 protocol=http

[2020-01-02 15:40] #65 closed

[2020-01-02 17:07] #64 closed

[2020-01-02 17:15] MotorCityCobra commented on #63
Another mistake is...

    openid - for openID assertion include OAuthClient.scopes.Openid

It should be

    openid - for openID assertion include OAuthClient.scopes.OpenId

Spent 45 minutes trying with and without every scope. Thanks H1B system!

[2020-01-02 17:20] MotorCityCobra opened #66 "Repo doesn't seem to be maintained any longer but I'm having scope issues"
Using the sample I a long error on the company info sample app page button that says 'The access token does not have sufficient scope'.
It gives the token and doesn't seem to have a problem with anything else.
My scopes are as follows,

    const authUri = oauthClient.authorizeUri({scope:[OAuthClient.scopes.Accounting, OAuthClient.scopes.OpenId, OAuthClient.scopes.Profile, OAuthClient.scopes.Email

[2020-01-02 19:05] MotorCityCobra commented on #66
Changed

    const url = oauthClient.environment == 'production' ? OAuthClient.environment.sandbox : OAuthClient.environment.production ;
To

    const url = OAuthClient.environment.production ;

[2020-01-02 19:05] #66 closed

[2020-01-02 21:07] abisalehalliprasan commented on #61
@jlc467 : The library is an OAuth client library and not a full-blown SDK.

When we designed this initially, we did expose helper methods to get/set the tokens associated with multiple companies, so that we could use just one instance of OAuthClient.

[2020-01-02 21:44] abisalehalliprasan commented on #63
Thanks @MotorCityCobra and @jamesmogg . Documentation is fixed in the release [2.0.1](https://github.com/intuit/oauth-jsclient/tree/2.0.1#scopes)

[2020-01-02 21:44] #63 closed

[2020-01-02 21:45] #39 closed

[2020-01-02 21:45] #34 closed

[2020-01-02 21:46] abisalehalliprasan commented on #33
@29er : We will be releasing the typescript version soon. Thanks.

[2020-01-02 21:46] #33 closed

[2020-01-03 13:59] BukeMan opened #68 "npm install fails on version 2.0.1"
Latest version fails to install using `npm install` command.

shell output:
[code]

[2020-01-03 15:34] abisalehalliprasan commented on #68
@BukeMan : Kindly use the version [2.0.0](https://github.com/intuit/oauth-jsclient/tree/2.0.0) meanwhile. I am fixing the issue right now.
Thanks.

[2020-01-03 18:59] abisalehalliprasan commented on #68
@BukeMan : Its fixed with the new release [2.0.2](https://github.com/intuit/oauth-jsclient/tree/2.0.2)

Thanks for bringing it to our attention.

[2020-01-03 18:59] #68 closed

[2020-01-07 21:52] #61 closed

[2020-01-14 17:03] ischu opened #70 "Error failing to create if response is missing headers"
Please consider changing line 595 in OAuthClient.js from
`e.intuit_tid = (authResponse && authResponse.headers().intuit_tid) || '';`
to
`e.intuit_tid = (authResponse && authResponse.headers() && authResponse.headers().intuit_tid) || '';`

Something was wrong with the response header and I was getting "TypeError: Cannot read property 'intuit_tid' of undefined" instead of the error returned by Intui

[2020-01-27 08:33] ekscentrysytet opened #71 "Consistently getting `Response has an Error` when revoking token"
Hello! When I call `oauthClient.revoke()` I keep getting `Response has an Error` error message with 400 status. My sample code is following:
[code]

The result if following:
[code]

Any ideas?

[2020-01-27 08:38] ekscentrysytet commented on #71
However some time after (like 2-3 mins) when I remove code that revokes token and making API requests to QB I'm getting error that token is revoked.

[code]

[2020-01-27 20:00] abisalehalliprasan commented on #71
@ekscentrysytet : Are you sure the access/refresh token was not revoked already? If the token is already revoked and you perform a revoke on it, the library would throw the `Bad Request` error similar to what you have posted above.

Could you provide the `intuit-tid` from the response headers if you are still getting the same error, I could verify the token validity?

[2020-01-28 08:44] ekscentrysytet commented on #71
@abisalehalliprasan You're right, I had two concurrent requests and in one of them I revoked a token and on another I got that error. Thanks! Closing now

[2020-01-28 08:44] #71 closed

[2020-02-01 18:15] daytonlowell opened #72 "Error when calling `makeApiCall`"
I wrote a wrapper that looks like this
[code]

The return of that `getToken()` call within my `makeApiCall` doesn't look valid. It looks like
[code]

The token that got stored in my auth callback and later loaded and used in a `setToken` call, looks reasonable?
[code]
Not sure what I'm doing wrong here.

[2020-02-03 15:40] daytonlowell commented on #72
Here's my example app using my wrapper:
[code]

[2020-02-03 20:45] abisalehalliprasan commented on #72
@daytonlowell : Went through your code. There are two places where the String to Object and Object to String conversion has caused errors in your code.

1. **this.loadToken()** in constructor

[code]

2.  **this.makeApiCall** in constructor

[code]

[2020-02-03 22:32] daytonlowell commented on #72
Thanks, I was double stringifying my JSON. 🤦

[2020-02-03 22:32] #72 closed

[2020-02-04 09:11] AlbertHambardzumyan opened #73 "revoke function response does not support getJson()"
According to [Revoke access_token documentation](https://www.npmjs.com/package/intuit-oauth#revoke-access_token) I should be able to call `getJson()` on the response:

[code]
However, Im getting the following error:
`Error: AuthResponse is not JSON`

Any thoughts ?

[2020-02-06 11:22] AlbertHambardzumyan opened #74 "refresh token expiration time"
According to [documentation](https://github.com/intuit/oauth-jsclient#refresh-access_token) we always should make use of the latest refresh token as previous refresh token has 24h expiration time

Looks like this is not true, as using `refreshUsingToken()` api I'm getting the same refresh token in the response.
[code]
The difference between the previous token I had and the new one I got is

1. a)

[2020-02-06 14:01] AlbertHambardzumyan opened #75 "isAccessTokenValid() gives false positive result"
The [isAccessTokenValid()](https://www.npmjs.com/package/intuit-oauth#helpers) function always returns true if token has `expires_in` greater then 60.

Tried to dig deeper and found that internal `_checkExpiry()` function makes use of `createdAt` property.
The internal `setToken()` function sets `now` if its missing in provided token ` this.createdAt = tokenData.createdAt || Date.now()`

Note, [cr

[2020-02-06 17:43] abisalehalliprasan commented on #74
@AlbertHambardzumyan :

Even though the refresh token is valid for 100 days, the value of refresh token can change every 24-26 hour period. Hence, you might encounter a situation where the request token that you received first is different than the latest one. As a best practice, always store the latest refresh token received from the API response and use that to make subsequent calls to obtain a

[2020-02-06 17:45] abisalehalliprasan commented on #75
I will take a look at it and provide more details.

[2020-02-06 17:45] #74 closed

[2020-02-06 17:58] abisalehalliprasan commented on #73
@AlbertHambardzumyan : The `revoke()` does not return the JSON. I will fix this and release a new version.

However, in the meantime you could see the status of the revoke() using :
`authResponse.response.status`

[2020-02-06 18:07] AlbertHambardzumyan commented on #73
@abisalehalliprasan
I just need token itself, no need the response status at all.
Turns out the response of `revoke()` call is the token I'm looking for.

So, I would say the documentation describes this api wrongly.

[2020-02-06 18:14] AlbertHambardzumyan commented on #74
@abisalehalliprasan
Now it makes more sense.

This definitely should be added [here](https://github.com/intuit/oauth-jsclient#refresh-access_token)
Otherwise, as a SDK user you have some expectation that your refresh token should be changed in `refreshUsingToken()` call.

Agree?

[2020-02-06 18:17] abisalehalliprasan commented on #75
`createToken()` does provide createdAt in the response :
[code]
Yes, if you are setting a previosuly created token using the SDK, you would need to pass that. But if all your tokens are handled by the SDK, you need not worry. The SDK will use it.

In other words, if you are setting a token that is created using this SDK then you are good. If not, the `createdAt` would give rise to a false-positive

[2020-02-06 18:18] abisalehalliprasan commented on #73
Welcome any PR's. I will also get this fixed in the new release. Thanks @AlbertHambardzumyan

[2020-02-06 18:25] AlbertHambardzumyan commented on #75
@abisalehalliprasan
Unfortunately, I'm not getting `createdAt` in the response.
[code]

Output
[code]

[2020-02-06 18:28] AlbertHambardzumyan commented on #75
@abisalehalliprasan
The rest will be okey if I get the `createdAt`.

Im storing entire Token object in the storage on login. Later, getting this token and with `isAccessTokenValid()` before getting some resource.

If `isAccessTokenValid()` gives correct result, then I can make a decision about refreshing it or using as it is of not expired.

[2020-02-06 18:37] abisalehalliprasan commented on #75
Please refer to retrieve the tokens under documentation [here](https://github.com/intuit/oauth-jsclient#retrieve-the-token-)

Just replace `console.log('The Token is  '+ JSON.stringify(authResponse.getJson()));` with
`console.log('The Token is  '+ JSON.stringify(oauthClient.token.getToken()));`

[2020-02-06 18:41] AlbertHambardzumyan commented on #74
Also, lets consider the following case

a) I obtain refresh and access tokens
b) according to the above discussion, refresh token will change in 24h window.

Now let's assume I have not made any requests for 3 days.
The refresh token will be changed  ~3 times during this period.

Does it mean the refresh token obtained at step 1 is not valid after 3 days?
Or that's still valid until I make a reque

[2020-02-06 18:53] AlbertHambardzumyan commented on #75
@abisalehalliprasan
Works with `oauthClient.token.getToken()`. However that looks weird that response of `createToken()` does not produce the same output. In both cases the output is Token, but some diff exist.

Note, getting createdAt via `oauthClient. createToken()` brings additional problem:
 - we cannot have one global oauthClient to create tokens for multiple users in parallel.

I have to cre

[2020-02-06 19:07] abisalehalliprasan commented on #75
As long as you are using the same app credentials, you can use the `oauthClient` as a global variable.

In order to switch between multiple users in parallel you could :
[set the token](https://github.com/intuit/oauth-jsclient#set-the-token-)

[2020-02-06 19:18] AlbertHambardzumyan commented on #75
@abisalehalliprasan
Im using the same app credentials. However, I might have wrong result with global `oauthClient`

Consider the following case where I'm doing multipole `createToken()`
a) User 1 - `createToken()` - output 1
b) User 2 - `createToken()` - output 2
c) User 3 - `createToken()` - output 3
d) User 4 - `createToken()` - output 4

There is a chance that the output of the first call migh

[2020-02-06 19:26] abisalehalliprasan commented on #75
@AlbertHambardzumyan Welcome any suggestions or PR if it helps solve this issue.

[2020-02-06 19:37] AlbertHambardzumyan commented on #75
@abisalehalliprasan
I see a solution in the response of
`const authResponse = await oauthClient.createToken(request.url)`

If `authResponse` comes directly from api response and not from `oauthClient.setToken()` + `oauthClient.getToken()`, then this might be resolved by simple providing all the fields of Token object in `authResponse`.

In other words, the output of `oauthClient.token.getToken()`

[2020-02-06 19:49] AlbertHambardzumyan commented on #75
@abisalehalliprasan
Looks like the api response is returned in `createToken()`
[code]

This means we can have global oauthClient and use the response of `await oauthClient.createToken(request.url)`
instead of `oauthClient.token.getToken()`, if we get `createdAt` in the first one.

[2020-02-06 20:30] AlbertHambardzumyan commented on #75
@abisalehalliprasan
The tokenData passed to [setToken()](https://github.com/intuit/oauth-jsclient/blob/master/src/access-token/Token.js#L106) does not have `createdAt`. You can see by logging `tokenData`.

This means `oauthClient.token.getToken()` gives `createdAt` which is not coming from server, but set in SDK in `getToken()`.

Thats a reason why `await oauthClient.createToken(request.url)` is n

[2020-02-07 12:34] AlbertHambardzumyan opened #76 "JSDoc wrongly describes IntuitOauth constructor argument"
Describes as [constructor JSDoc](https://github.com/intuit/oauth-jsclient/blob/master/src/OAuthClient.js#L45)
However, it suppose to be [constructor doc](https://github.com/intuit/oauth-jsclient#using-nodejs)

Thus, editor complains when we have
[code]

[2020-02-08 00:42] abisalehalliprasan commented on #76
I am not following you. could you send a PR ?

[2020-02-08 00:42] #76 closed

[2020-02-08 00:44] abisalehalliprasan commented on #75
@AlbertHambardzumyan : Do you think that would solve the Global variable issue addressed in the thread [here](https://github.com/intuit/oauth-jsclient/issues/75#issuecomment-583065718) ?

I might need to test it before releasing a new version of the library.

[2020-02-08 01:43] AlbertHambardzumyan commented on #75
@abisalehalliprasan
yes.
[code]
This resolved global variable issue.  Needs only to have the all the fields of `res.token` instead of `res.json`.

[2020-02-08 01:46] abisalehalliprasan commented on #75
Please send a PR if you have the changes handy.

[2020-02-08 01:47] AlbertHambardzumyan commented on #76
@abisalehalliprasan
Don't hurry to close the issue. Moreover, you could not follow it.
People spend time to point out the bugs, please appreciate that.

You have a wrong JSDoc [here](https://github.com/intuit/oauth-jsclient/blob/master/src/OAuthClient.js#L45)
[code]

[2020-02-08 01:51] abisalehalliprasan commented on #76
@AlbertHambardzumyan : I understand your concern here. But if you are not going to provide more details it will not help in getting the issue resolved.

If you think there is something wrong here could you add a PR to fix this?

[2020-02-08 01:59] AlbertHambardzumyan commented on #76
@abisalehalliprasan
As you see, I have spent more time and provided more details. However, the issue itself is closed already.
That's weird to ask for a PR, but close the issue at the same time.

If something is not clear enough yet, it does not mean the issue can be considered as resolved by simply closing it.
This is unexceptable.

Never mind. Thats already clear to me that some other tool shoul

[2020-02-09 07:11] kyleabens opened #77 "Invalid Grant Error"
I get the invalid grant error every so often when calling the refresh method and there doesn't seem to be any rhyme or reason to it.  It's rare but it keeps affecting one of my users and because of this they keep having to re-authenticate to get a new access token.  After calling refresh() I save the returned access token as well as the updated refresh token.  It works for most of my users but I c

[2020-02-10 18:56] abisalehalliprasan commented on #77
@kyleabens : Here's an excerpt from the logs based on the `intuit_tid` you provided.

[code]
Explanantion :
You would run into this issue when the application does not honor the latest refresh tokens which were issued when an API call to refresh() was made. But seems like you are already handling this case where your app does replace the tokens with **new** pair of `access/refresh` tokens .

From

[2020-02-10 19:03] kyleabens commented on #77
@abisalehalliprasan Okay thank you very much!

[2020-02-10 19:03] #77 closed

[2020-02-12 16:22] dlarouche commented on #77
Hello! I'm having the same issue, what ended up being the solution?

[2020-02-12 18:56] abisalehalliprasan commented on #77
For the above intuit-tid : `6a115e25-544e-489d-9d90-25c4c5c9f466`

From our logs, it looks like the sequence of events are as below :

1. The successful refresh call was made at 08/02/2020
04:48:48.728.
2. After which there was revoke consent call at 08/02/2020
05:25:00.090, which revoked the token.

This token was then used to do a refresh which resulted in this error.

[2020-04-10 23:35] abisalehalliprasan opened #80 "Fix Vulnearability : CryptoJS"
Fix : https://snyk.io/test/github/intuit/oauth-jsclient?tab=dependencies

[2020-04-14 19:13] #73 closed

[2020-04-14 19:13] #75 closed

[2020-05-02 17:46] dan-yave opened #84 "login popup throws cross-origin error"
The popup throws a DOMException every iteration of the setInterval function when it runs the following check (line 102 of index.html in sample app)
if (win.document.URL.indexOf("code") != -1) {

It fails on both ngrok URL or localhost

![error](https://user-images.githubusercontent.com/37487382/80871534-07935080-8c62-11ea-96cf-d8d259747bd6.png)
![error_msg](https://user-images.githubusercontent.co

[2020-05-05 01:29] abisalehalliprasan commented on #84
@dan-yave
The sample application opens the `Authorize URL` using the window object. So we use a polling approach to check if the popup window contains a `code`
[code]
Instead a better approach to handle this would be to pass the path(route) which should then redirect using the express framework as: ( will provide an example in the next release )
[code]

Let's say for the sake of example, your redi

[2020-05-05 21:50] dan-yave commented on #84
Thank you @abisalehalliprasan
I'll give it a try. I can see how this would work on a static or server-side rendered site, but I'm not sure on a SPA site like Vue.

Thanks again for your response
Dan

[2020-05-05 22:04] abisalehalliprasan commented on #84
For what its worth. I did take a look at one of the popular OAuth libraries built in Vue for SPA's. It looks like polling the popup window is [used ](https://github.com/dgrubelic/vue-authenticate/blob/master/example/vue-authenticate.js#L894)
ref : [stackoverflow article](https://stackoverflow.com/questions/55348531/how-to-handle-redirect-response-from-a-single-page-application-browser-only-weba)

[2020-05-05 22:08] dan-yave commented on #84
cool - thank you!
ill go ahead and close this out

[2020-05-05 22:08] #84 closed

[2020-05-06 01:59] alexesca commented on #74
@AlbertHambardzumyan The refresh token is valid for 100 days. If you refresh the access_token, the previous refresh token is valid for 24 hrs and the new token is valid for 100 days. If you encrypt and store your refresh token in your database, you won't have to worry about it anymore bc you will always use the one you stored to refresh the access token.
@abisalehalliprasan Helped me remember some

[2020-05-07 05:11] jponc commented on #33
@abisalehalliprasan did the TS types pushed through?

[2020-05-07 05:44] abisalehalliprasan commented on #33
@jponc : We have a `typescript` branch but the code is not Production-ready yet.
Ref : oauth-jsclient [typescript](https://github.com/intuit/oauth-jsclient/tree/typescript)

I cannot provide exact timelines on the release at the moment. But you are free to look at the sample example [here](https://github.com/intuit/oauth-jsclient/tree/typescript/sample/typescript) if it helps.

[2020-05-07 08:06] jponc commented on #33
No worries, thanks mate 👍

[2020-05-13 00:48] #70 closed

[2020-05-13 00:48] #80 closed

[2020-05-13 08:39] Grmiade opened #88 "`snyk` package as a dependency since the 3.0 version"
In this [commit](https://github.com/intuit/oauth-jsclient/commit/18ab287e1eeb8ee31134c22e4e0f907b64f94fbb), you introduced `snyk` as a dependency. Do you think you could migrate it to a dev dependency?
With the 3.0 version, all the snyk library and its dependencies are installed on our machines when we use the `intuit-oauth` library :/

[2020-05-13 08:42] abisalehalliprasan commented on #88
Will fix get this fixed by tomorrow 👍

[2020-05-13 17:53] dan-yave opened #89 "Permission denied error trying to access Reports"
Hi
Are there special permissions needed to access the reports? i see them listed in the API yet i get permissions error when trying to execute. I thought it was my code but i get the same error in the sample app. For a minimum test i simply updated the endpoint on the app.js getCompanyInfo endpoint just to see if it would work. (in sandbox using ngrok)

App.js lines 125 - 130

app.get('/getCompany

[2020-05-13 18:24] abisalehalliprasan commented on #89
@dan-yave : You would get this error only if the QBO subscription does not support it. You can see it here :
https://help.developer.intuit.com/s/article/5020-Permission-Denied-Error
However, since you are saying this is happening on sandbox QBO, We might need to see our logs to see if there is an issue with your sandbox company.

Please log a support ticket [here](https://help.developer.intuit.com

[2020-05-13 18:36] dan-yave commented on #89
Thanks @abisalehalliprasan
i dont think there is an issue with my sandbox company, i havent modified it since it was created for me when i set up my developer account and i can log in and run all the reports w/o issue.

Also i found an older version of the intuit OAuth Client
https://github.com/IntuitDeveloper/oauth2-nodejs
 and just to test i was able to execute reports using that sample code - t

[2020-05-13 18:53] abisalehalliprasan commented on #89
Are you sure that the above error is for the sandbox company? Going by the error code: 5020, it means the company does not have permission to access this feature. I will need intuit_tid from response headers to verify this information.

[2020-05-13 19:13] dan-yave commented on #89
ok - i could be wrong let me double check

[2020-05-13 19:24] dan-yave commented on #89
I'm definitely going to sandbox api and i verified my company Id for Sandbox Company_US_1 - i can DM it to you if you want.

here is the tid: 1-5ebc47a8-fd471c01b385812d4eaa7539

thanks for looking into this

[2020-05-13 19:28] dan-yave commented on #89
i can send the full response from the logs if you need

[2020-05-13 19:30] dan-yave commented on #89
use this tid instead - 1-5ebc4a0c-1c1c793d64af4bdaa6ff5d29

[2020-05-13 21:13] abisalehalliprasan commented on #88
Fixed in the new release `3.0.1`. Closing the issue @Grmiade

[2020-05-13 21:13] #88 closed

[2020-05-13 22:03] Grmiade commented on #88
Thanks @abisalehalliprasan
Very responsive 💪

[2020-05-22 21:10] abisalehalliprasan commented on #89
@dan-yave : sorry for the late reply. The team did look at the logs and it looked like it is a one-off case where the particular sandbox was already expired. We could renew it but a better option would be to create a new sandbox.

Closing the issue.

[2020-05-22 21:10] #89 closed

[2020-05-23 00:46] dan-yave commented on #89
@abisalehalliprasan
they must be mistaken my sandbox is NOT expired. I opened it a month ago and log in nearly every day while i work on this project.

Did you try accessing a report using your sample project - from any sandbox?

[2020-05-23 00:53] abisalehalliprasan commented on #89
@dan-yave : By expired. I mean using the API, you will not be able to access this feature.

You will still be able to use the sandbox in UI. However, due to some mismatch this particular sandbox with company ID `4620816365046826340` is having the problem.

yes.The sample project works for all sandbox companies.

[2020-05-23 01:16] dan-yave commented on #89
@abisalehalliprasan not sure what that means but OK

I created a new sandbox company : 4620816365062879630
I get the same exact error :
Here is the tid: 1-5ec877cd-e181bbfa8606471cc5e63212

I'm running your sample, other than the report endpoint i did not alter your code

![image](https://user-images.githubusercontent.com/37487382/82718604-45c7d280-9c58-11ea-85be-c80a68504dc1.png)

[2020-05-23 01:22] abisalehalliprasan commented on #89
Can you provide your email? we can do a screen share.

[2020-05-23 01:36] dan-yave commented on #89
sure thanks
dan@yave.io

[2020-05-23 03:27] abisalehalliprasan commented on #89
@dan-yave : Figured out the issue. Its the Letter **f** notice your URL above :
{url: url + 'v3/company/' + companyID +'/reports/Cashflow'}

change the URL to {url: url + 'v3/company/' + companyID +'/reports/CashFlow'}

From our [API reference](https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/cashflow#query-a-report) it should be of the format :
[code]

[2020-05-25 22:04] dan-yave commented on #89
@abisalehalliprasan - ugggg - so sorry to waste your time. I swear i thought that was the first thing i checked before submitting the ticket. i realize now i had it correct in one project but wrong in the other - apologies.

thanks again for all your help!

[2020-06-08 13:19] dbowmanDT opened #91 "AuthResponse is not JSON"
Plugin Version: 3.0.1

Calling the makeApiCall function threw this error.

Error: Processing a request Error: AuthResponse is not JSON
        at AuthResponse.getJson (/home/dbowman/dtr-code/beacon/node_modules/.pnpm/registry.npmjs.org/intuit-oauth/3.0.1/node_modules/intuit-oauth/src/response/AuthResponse.js:106:29)
        at OAuthClient.createError (/home/dbowman/dtr-code/beacon/node_modules/.pn

[2020-06-09 05:42] abisalehalliprasan commented on #91
Could you provide the `Request Payload` and `Response headers` if possible?

[2020-06-09 13:13] dbowmanDT commented on #91
message: "Error: Processing a request Error: Response has an Error
    at /beacon/pnpm-store/node_modules/.pnpm/registry.npmjs.org/intuit-oauth/3.0.1/node_modules/intuit-oauth/src/OAuthClient.js:511:40
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:94:5)
    at async updateQBORefresh (/beacon/pnpm-store/node_lib/quickbooks_online/src/qbo.js:143

[2020-06-09 13:49] dbowmanDT commented on #91
Request was to the sandbox environment:
/v3/company/<realmId>/query?query=select Name, Id from Item Where Type = 'Service' and Name like '%' startposition 0 maxresults 10

I do not have the response headers, I should have put them in the issue when I encountered the error. I do not know how to reproduce consistently.

[2020-06-10 03:42] abisalehalliprasan commented on #91
@dbowmanDT : The query that was passed to the `makeApiCall()` was not URI-encoded.

The query you are trying to use is :
[code]
You can pass the query using `makeApiCall()` as shown below :  ( minorversion is  **optional** )
[code]

For now, you can use the above-mentioned workaround.

Since this is an `OAuth2.0` library, we will think about how to add this to a full-fledged SDK.

[2020-08-06 15:16] ibox4real opened #93 "Typescript definitions"
Any chance we would get Typescript support for the oauth-jsclient?

[2020-08-17 09:13] akila-arasan commented on #91
@abisalehalliprasan @dbowmanDT  I am also facing the same issue, I digged into the source code and  the problem was in the `processresponse` method.

`AuthResponse.prototype.processResponse = function processResponse(response) {
  this.response = response || '';
  this.body = (response && response.body) || '';
  this.json = this.body ? JSON.parse(this.body) : null; // JSON.parse is failing.
  this

[2020-08-18 04:09] abisalehalliprasan commented on #91
@akila-arasan : Tried to reproduce the error and I am not running into the same issue. I am suspecting if there is a mismatch with the Base URL used to make the API call and the Keys provided. When a token is invalid the SDK throws an error with the below format ( secure details are _masked_ )

[code]

Could you share the sample code snippet where you are performing the query `select * from Accoun

[2020-08-18 04:12] abisalehalliprasan commented on #93
@ibox4real : We do not have plans at the moment to provide Typescript support, however, I can take this information to my team and see if we can prioritize and have this on the roadmap.

Meanwhile, there is a typescript [branch](https://github.com/intuit/oauth-jsclient/tree/typescript) If you'd be interested to take a look at.

[2020-08-18 08:25] akila-arasan commented on #91
@abisalehalliprasan  Thanks for debugging.

The Base URL that I use to make the query is - ` https://sandbox-quickbooks.api.intuit.com/v3/company/realmId/query?query= select * from Account where AccountType = 'Cost of Goods Sold'`

After establishing a connection between QB and our app, we try to export items to inventory, we need to check if the company has a income / expense account before addin

[2020-08-19 04:27] abisalehalliprasan commented on #91
I looked up our logs based on the realmID and timestamp you provided. It looks like you are making the call for an incorrect realm. The realm from the logs for the specific error shows ( 193514846595064 ) for the exact timestamp you provided.

And hence the `oauthClient.isAccessTokenValid()` is returning `true` as the token is still valid. ( under 1 hour duration )

I was able to reproduce the sam

[2020-08-19 10:06] akila-arasan commented on #91
@abisalehalliprasan Thanks ! The problem was in the cron that refreshes expired QB access tokens. Now the associations are correct.

[2020-08-19 17:05] abisalehalliprasan commented on #91
Awesome. I will mark it as resolved. 👍

[2020-08-19 17:05] #91 closed

[2020-08-20 13:56] RicardoAReyes commented on #91
Hi @abisalehalliprasan do you have a timetable for when you plan to submit the PR for this issue? Our team would like to test our app with this AuthReponse JSON fix and plan accordingly. Thank you.

[2020-08-24 15:07] prateekkathal commented on #93
@ibox4real You can use the `index.d.ts` file in the root folder of above mentioned branch in your `src/@types/intuit-oauth` folder by declaring a module with the name 'intuit-oauth'.

Something like this

[code]
Just to be clear, this is a temporary solution till the time types are added to the master/release branch..

[2020-09-14 10:32] AlbertHambardzumyan opened #94 "v3 migration documentation"
Trying to upgrade version from v2  to v3, but feeling hard to identify the breaking changes.
Some changelog or migration doc would be helpful.

[2020-09-15 01:56] abisalehalliprasan commented on #94
You can refer to [CHANGELOG.md](https://github.com/intuit/oauth-jsclient/blob/master/CHANGELOG.md#300). This was introduced due to address a vulnerability caused by [mocha](https://travis-ci.org/github/intuit/oauth-jsclient/jobs/685905894)

[2020-09-15 05:42] AlbertHambardzumyan commented on #94
Only v1 was documented at the time when I was checked it yesterday.

Now, I can see v3 too. That's exactly what I wanted.

[2020-09-30 21:17] cwil423 opened #96 "Payment scope"
Why does this cause an error but if I remove the third scope it does not?
const authURI = oauthClient.authorizeUri({
    scope: [OAuthClient.scopes.Accounting, OAuthClient.scopes.OpenId, OAuthClient.scopes.Payment],
    state: 'testState',
});

[2020-10-01 16:25] #94 closed

[2020-10-01 16:38] abisalehalliprasan commented on #96
@cwil423 : Is the production QBO company that you are trying to connect Payments enabled?If so, you would need to have a Production QBO company with Payments [enabled](https://quickbooks.intuit.com/ca/tutorials/set-use-quickbooks-payments/#:~:text=Go%20to%20your%20Company%20Settings,Up%20Payments%20to%20get%20started.)

However, If you are testing using a sandbox QBO company, Payments are enabled

[2020-10-01 16:38] #96 closed

[2020-10-05 12:33] haislip opened #97 "PDF Transport"
This library currently does not seem to actually work when pulling the generated PDF files from an environment.  It's relying on the default transport options from the popsicle libraries, which is `text`.  This means that we get a text representation of the PDF instead of the actual buffer that we need in order to save the file once we've received it.  If you save/view the PDF response without thi

[2020-10-06 17:29] abisalehalliprasan commented on #97
Thanks, @haislip for coming up with a quick fix. We are currently opening up our SDK's for contributions : [hacktoberfest](https://hacktoberfest.digitalocean.com/).

As you have already provided the suggestion Could you create a PR, please?

[2020-10-06 20:19] haislip commented on #97
Hacktastic: https://github.com/intuit/oauth-jsclient/pull/98

[2020-10-13 23:55] abisalehalliprasan opened #99 "[typescript][enhancement]: Update typescript sample with the latest typescript definitions"
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

### Problem
Update typescript sample with the latest typescript definitions index.d.ts [file](h

[2020-10-13 23:55] abisalehalliprasan opened #100 "[typescript][enhancement]: Update typescript definitions to match the latest SDK v3.0.2**Cards**"
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

### Problem
Update typescript definitions file to match the latest SDK [v3.0.2](https://github.

[2020-10-13 23:56] abisalehalliprasan opened #101 "[typescript][enhancement]: Remove OAuth1 typing definitions from index.d.ts"
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

### Problem
Remove unwanted OAuth1 typing definitions from index.d.ts [file](https://github.com

[2020-10-13 23:56] abisalehalliprasan opened #102 "[typescript][enhancement]: Write a unit test to validate typings definition file"
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

### Problem
Write a unit test to validate the typings definition file ex: types.test.ts

typing

[2020-10-13 23:57] abisalehalliprasan opened #103 "[typescript][issue]: Passing custom state parameter within typings definition file"
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

### Problem
SDK should support passing the state parameter. Provide a fix to support this in th

[2020-10-13 23:58] abisalehalliprasan commented on #97
@haislip . Thanks for the contribution. Will review the PR's soon 🚀

[2020-10-15 00:08] nsinghal12 commented on #103
@abisalehalliprasan I am picking this up now.

[2020-10-16 05:46] abisalehalliprasan commented on #103
@nsinghal12 : Awesome. Thanks 🚀

[2020-10-18 22:59] 100mik commented on #99
Hey! I'd like to take a shot at this if it's fine.

[2020-10-19 16:18] shlok-kothari commented on #100
Hi @abisalehalliprasan I would like to take a shot at this

[2020-10-19 16:53] abisalehalliprasan commented on #100
@shlok-kothari : Awesome. Go for it. 👍

[2020-10-19 16:56] abisalehalliprasan commented on #99
@100mik : Awesome. That would be great. However, this issue/fix would be dependent on #100 ( as the sample should refer to the latest typings ).

I suggest you can start on this story once we start getting more updates on the #100. Does that sound good to you?

[2020-10-19 20:10] 100mik commented on #99
Yes that's perfectly fine. I don't mind helping out if needed once the current assignee has taken a shot at #100
Cheers!

[2020-10-21 18:19] luisgregson commented on #101
Hey, i've some experience with type definitions and would like to give this issue a go. Can it be assigned to me please?

[2020-10-21 19:24] VeenaDesai38 commented on #102
@abisalehalliprasan I would like to take this up.

[2020-10-21 20:09] VeenaDesai38 commented on #102
@abisalehalliprasan PR raised for the same https://github.com/intuit/oauth-jsclient/pull/105

[2020-10-23 04:45] abisalehalliprasan commented on #102
Thanks @VeenaDesai38 for the contribution 🚀 . Will review the PR soon.

[2020-10-24 06:30] pradeepb2505 commented on #101
#104 Created a PR for this issue a few days back. Please do review it. Thanks.

[2020-10-30 13:20] krishnal commented on #97
@abisalehalliprasan Is there any possibility you can review and merge this?

`/v3/company/${companyID}/invoice/${invoiceId}/pdf` Download pdf API is really not working without this.

Many thanks!

[2020-10-31 20:17] VeenaDesai38 commented on #102
@abisalehalliprasan Can you please take a look at this PR?

[2020-11-08 17:29] #102 closed

[2020-11-08 17:29] #101 closed

[2020-11-08 17:29] #97 closed

[2020-11-19 14:37] saad141 opened #107 "validateIdToken() and validateToken()"
whenever i send request for these functions, promise does not send any response and goes to sleep.

[2021-01-27 20:39] MitchWeber commented on #93
Any updates when the types will be released?

[2021-01-29 16:15] donfiftyidaho opened #108 "Unable to connect to intuit oauth platform"
I am working with an AWS Lambda that connects to the QBO API.
[Here is a gist of the oauth service I wrote >>](https://gist.github.com/donfiftyidaho/9b0222573bae2a809b9caad15624064f)

`intuit-oauth version: 3.0.2`
`Node.js version 12`

To get the OAuth started I get a fresh refresh token from the QBO playground and store that in a json file. After that it keeps getting renewed. I don't think the r

[2021-01-30 18:21] donfiftyidaho commented on #108
I solved this so closing it.
The problem was that I was saving my refresh token in a JSON file and the Lambda was resetting after 15 minutes and my updated token was gone and the token was now back to the original one in the function zip file. Refactored to save to a DB table and everything works great.

[2021-01-30 18:21] #108 closed

[2021-02-24 10:27] michaelyohanes commented on #75
Feb 2021.
same here, isTokenValid() always gave false positive result.

Steps to reproduce:
- generate token
- store generated tokens to file
- modify the token file ( in ex: refresh_token, access_token, etc ) to random values
- call isTokenValid() helper from code, and it will always return positive result which irrelevant

After closer look, seems that isTokenValid() basically -only- check the c

[2021-03-12 11:09] Jebble commented on #91
@abisalehalliprasan what exactly is the solution to this error? Response returns XML without anything for us to read error wise. It's quite impossible to find out why API calls are failing. Please assist

[2021-03-23 11:18] pbro123 commented on #3
Hi @abisalehalliprasan ,

I've just come across the same issue - was OAuth2 implicit grant support ever implemented?

Many thanks

[2021-04-07 13:15] lardcanoe opened #110 "Handle 401 AuthorizationFailure response"
The `AuthResponse.prototype.getJson` function in `intuit-oauth/src/response/AuthResponse.js` needs to handle a 401 error more elegantly. I had to monkey-patch the function to figure out what was going on. The OAuth credentials I had were able to refresh the token, but the subsequent call failed with `AuthResponse is not JSON`.

URL:

[code]

Part of response:

[code]

Some key headers:

[code]

[2021-04-07 15:33] abisalehalliprasan commented on #110
@lardcanoe : The SDK provides all the error details when an exception is thrown
ref: https://github.com/intuit/oauth-jsclient#error-logging

Which provides more information about the error :
[code]
If I am missing anything, Could you maybe post the exact error you saw so that we could see if any additional details need to be added?

Thanks

[2021-04-07 18:19] lardcanoe commented on #110
https://github.com/intuit/oauth-jsclient/blob/master/src/response/AuthResponse.js#L106

which is called from

https://github.com/intuit/oauth-jsclient/blob/master/src/OAuthClient.js#L586

`AuthResponse.prototype.getJson` is throwing plain `Error` which is bubbling up that doesn't have any of the other fields present.

[2021-04-16 05:35] salvadorbarb1 commented on #33
im kinda surprised you dont have these yet. anything on the horizon ?

[2021-04-18 02:08] ryannewton commented on #33
Is this published?

I just tried running `npm install --save-dev @types/intuit-oauth` and I can't tell if I'm missing something or if it's still being developed.

[2021-04-23 23:18] gmicek commented on #93
hey @abisalehalliprasan , would you all please go ahead and merge the typescript branch and support into master and publish? You can even mark it experimental or something. At this time, I think a lot of the users including myself are either just copying the types into our own type directories or writing our own types.

I think it will be more helpful to merge to master now and note if they may no

[2021-04-26 18:35] mfujinoki opened #111 "PO # shows 'To PRINT' in the form when creating Purchase Order"
When I set PO# and create a Purchase Order, it shows 'TO PRINT' in the form and when I save it in the online form, it saves as a blank.

[2021-04-26 18:37] mfujinoki opened #112 "Uploading file as attachable"
Is it possible to upload a file with this SDK?
Can you give me a sample code?

[2021-04-27 04:33] abisalehalliprasan commented on #93
@gmicek : There a few things which need to be tested before we release the typescript version.

We will prioritize a release very soon. Thanks for the understanding everyone. Will keep this thread posted with updates.

[2021-04-27 04:39] abisalehalliprasan commented on #111
You should be able to create a PO using the `makeAPICall`. Take a look at our API explorer for more details on the request payload and the response 👍 https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/purchaseorder

If you are seeing any issues with the API please consider reaching out to us [here](https://help.developer.intuit.com/s/)

[2021-04-27 04:39] #111 closed

[2021-04-27 04:51] abisalehalliprasan commented on #112
@mfujinoki : We do not have support for `multipart/form-data` at the moment. Appreciate it if you have can put in a PR if you have it handy.

[2021-04-27 04:52] abisalehalliprasan commented on #110
Thanks @lardcanoe . I will get this fixed in the next release 👍

[2021-05-02 02:49] ryannewton commented on #33
@abisalehalliprasan
Could you provide an update on this?

 I'm just jumping into using `intuit-oauth` and am using Typescript. It'd be nice to have confirmation if I'm missing something or if this project got shelved.

[2021-05-02 22:00] abisalehalliprasan commented on #33
Hi @ryannewton :
There a few things which need to be tested before we release the typescript version. We will try to prioritize a release very soon. Thank you for your understanding!

[2021-06-08 20:11] thekennysong opened #115 "URGENT: Did"

[2021-06-08 20:12] thekennysong opened #116 "URGENT: Did Intuit change Oauth Flow?"
Did Intuit change the Oauth 2.0 process? When trying to auth a client in the oauth window it prompts me to create a new client regardless if client type is QBOA or QBO Plus. This is game breaking for my app. Everything was working fine until this morning.

[2021-06-08 20:25] #115 closed

[2021-06-09 04:03] abisalehalliprasan commented on #116
@thekennysong:
I did check the OAuth flow and I see company selection dropdown ( **as expected** ), shown in the screenshot below :
![Screen Shot 2021-06-08 at 9 02 01 PM](https://user-images.githubusercontent.com/38014312/121291279-d80b3a80-c89c-11eb-8442-768622e60c63.png)

Could you provide a brief description of the issue you are stating please and if possible attach any screenshot ( as to what

[2021-06-14 18:18] railz-guli opened #118 "`.getJSON` method invoked on xml throws sdk error, masking the original problem"
We're using nodeJs sdk, version 3.0.2 and for certain requests we make with `makeApiCall` the error we're getting is `Error: AuthResponse is not JSON at AuthResponse.getJson (/var/app/current/node_modules/intuit-oauth/src/response/AuthResponse.js:106:29) at OAuthClient.createError`

After investigating the error it came to our attention that the sdk is getting back an xml instead of JSON. Moreover

[2021-07-04 16:35] thekennysong commented on #116
Hi @abisalehalliprasan it was a known regression bug that lasted a day. Thanks for reaching back out though, I really appreciate it.

[2021-07-04 16:35] #116 closed

[2021-07-16 18:18] aiden5221 commented on #118
I'm having this same issue, whenever I attempt to make a request with `makeApiCall` I'm receiving the error
 `Error: AuthResponse is not JSON at AuthResponse.getJson (~\node_modules\intuit-oauth\src\response\AuthResponse.js:106:29)`

I'm receiving this error after using the code example from app.js. I believe my authorization flow is correct so I don't know where to go from here.

[2021-07-20 05:43] akoskm commented on #118
I can also confirm this. We tried setting the headers in `makeApiCall` but it had no effect:

[code]

the response is still coming back as XML:

[code]

[2021-08-13 18:37] jesuschris commented on #33
Hello! Any pre-release options? :)

[2021-08-13 18:37] jesuschris commented on #33
Hello @abisalehalliprasan! Just checking in :dancers:

[2021-09-15 08:58] edyrkaj opened #119 "Wrong createdAt date on OAuthClient.token.getToken() response"
**Description:**

**Version:**
"intuit-oauth": "^4.0.0",

**Node**
10.24

When I use existing tokens from the storage and validate the token before accessing other methods of QB
method: `OAuthClient.isAccessTokenValid()` returns always true.

[code]

On this response I see that `createdAt` timestamp is always time when I call the method `OAuthClient.token.getToken()`
which I think is wrong because

[2021-09-15 09:11] edyrkaj commented on #119
Just found that token needs to set value from place where we store last time connected with QB and when token is created
https://github.com/intuit/oauth-jsclient/blob/master/src/access-token/Token.js
`_checkExpiry`

[2021-10-03 07:06] barakplasma commented on #100
since this was merged, I suggest closing this issue.
By the way, since release 4.0 happened, have the typescript definitions been updated since then? @abisalehalliprasan

[2021-11-09 05:23] zenininja commented on #33
Hi, What is the status of typescript type definition ? Could you please provide it ?

[2021-11-17 23:02] lsacco-nutreense commented on #33
Hello @abisalehalliprasan...It's been almost 6 months since your last post and I don't see anything posted on NPM in this regard. This would be a big help for us. Thanks.

[2021-12-03 15:13] digibake commented on #93
I noticed there's a new [pull request](https://github.com/intuit/oauth-jsclient/pull/121) which adds typescript definitions, does this mean there'll be a new release soon? It would be really a useful addition.

[2021-12-03 22:53] anilkumarbp commented on #93
@digibake : Sorry for the delay. Let me be clear that, we are not working towards the migration of the entire library to TS. I'm not a 100% familiar with this so any feedback would be great.

Do you think publishing the [typings](https://github.com/intuit/oauth-jsclient/pull/121) alone would help us resolve here?

+ @programmarchy : Thanks for contributing to the types definitions.

[2022-01-12 17:24] ysageev opened #123 "How to use in clustered node server (PM2)?"
I'm struggling trying to implement OAuth2 in a pm2 clustered environment.  The example provided stores the new OAuthClient in a global variable.  This is great if everyone is connecting to that one server instance.  In production that is almost never the case.

I am going to assume that if process 1 and process 2 create wholly new OAuthClients, then access tokens returned to 2 will invalidate toke

[2022-02-05 16:44] srl295 opened #124 "doc: FAQ link broken"
FAQ link in readme.md is broken

[2022-02-05 16:46] srl295 commented on #124
I was going to add to the FAQ that
- createToken can take a full URL or  a relative uRL from server base (`/callback?foo=bar`)
- createToken can only be called once with a certain URL, calling twice will return an invalid grant error

[2022-02-07 18:58] AshMartian commented on #33
Quick work around for Typescript users.

- Create a new folder in root of project `types`
- New folder inside that called `intuit-oauth`
- Reference this folder in `tsconfig.json`
[code]
- New file inside `intuit-oauth` called `index.d.ts`
- I copied the type definitions from [the typescript branch](https://github.com/intuit/oauth-jsclient/blob/typescript/index.d.ts) but was full of errors. Cleane

[2022-02-10 19:32] sdegutis commented on #33
Why is this closed if it's not released?

[2022-02-17 13:55] syJSdev commented on #118
This issue requires an urgent fix. I can't get what is the api response.
Even if I set the Accept header to 'application/json', the API returns in xml format. also, this issue only occurs when the API responds with an error.

[2022-03-24 14:56] lsacco-nutreense commented on #123
I have the same issue. Have you figured out a solution?

[2022-03-24 18:02] ysageev commented on #123
Right now I just use a single server instance.  :-/  I don't anticipate it being that bad for now because the proportion of users actually hitting QBO is very small -- just those with accounting privileges.

Eventually I will revisit the clustered environment, and imagine that it will work by deeply serializing the oauthClient into a database or local json file, check if it is there, and reconstit

[2022-04-28 21:58] GuiSim commented on #33
@abisalehalliprasan can you comment on the current state of type definitions for TypeScript?

[2022-04-28 22:00] GuiSim commented on #93
Can we get an update here? It's been years since this was "nearly merged" https://github.com/intuit/oauth-jsclient/issues/33

[2022-05-18 06:09] thekennysong opened #127 "Does calling refreshUsingToken() count against realmId API limit?"
Hi all,

I am calling refreshUsingToken() and was wondering if calling this function counts against the API limit (https://blogs.intuit.com/blog/2016/08/08/idg-concurrent-api-use-changes-coming-soon/)?

[2022-05-26 14:57] aniespica opened #128 "Invalid_Grant Error"
For some of our clients twice a week the refresh token ends with invalid_grant. We contact them and request to re-authenticate to get new access & refresh token. It is annoying that it happened and we don't know how to handle it in the code.

Currently, our flow is:

1. A function that interacts with QuickBooks API is called.
2. The function loads the OAuth token from our database.
3. If the acces

[2022-05-30 14:32] Twisterking opened #129 "Can't send "query" request - 400 error (SELECT * FROM ... WHERE DisplayName LIKE ...)"
I have the following query:

[code]

This does NOT work!

I always get a `400  Bad Request` - but everything is just fine! **NO problems with the auth**, because the following `selectStatement` works just fine: `selectStatement = 'SELECT * FROM Customer'` ... so what gives? I don't see what is wrong with my call!

[2022-06-20 14:13] Twisterking commented on #129
Is anyone taking care of this repo here? This is still not working!

[2022-06-28 19:50] codescalar commented on #128
We are seeing the exact same issue as described above. Still looking for solutions.

[2022-08-03 22:26] jackammon commented on #128
We are also having this exact issue. Are there any updates on this?

[2022-09-06 23:39] rmzg-ll opened #130 "'winston' logging module is *always* required and causes errors in browser context"
The winston module is always required even if logging isn't activated, which in turn has several dependencies that don't play well in the browser (such as colorizer and its various transport streams).

Solution: Move this to only be required if explicitly asked for.

[2022-11-02 15:56] thekennysong commented on #128
@jackammon @aniespica have either of you experienced a user not being able to connect at all? For some reason, when trying to generate a token we keep getting a `Token invalid` when literally we're generating a new token haha. Super frustrating but I expect nothing more from QBO's API service.

[code]